## Part 2

In [3]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from datetime import datetime as dt
from streamlit_keplergl import keplergl_static

In [5]:
df = pd.read_csv('new_york_data.csv', index_col = 0)

C:\Users\aaron\AppData\Local\Temp\ipykernel_19336\2076588821.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('new_york_data.csv', index_col = 0)

In [7]:
df.drop(columns = {'_merge'}, inplace = True)

In [9]:
df = df.sort_values(by = 'date')

In [11]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
337491,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,11.6
934741,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,11.6
227204,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,11.6
913722,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,11.6
127371,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,11.6

In [13]:
# Create a month column 

df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df['month'] = df['date'].dt.month
df['month'] = df['month'].astype('int')

In [15]:
# Create the season column

df['season'] = [
"winter" if (month == 12 or 1 <= month <= 4)
    else "spring" if (4 < month <= 5)
    else "summer" if (6 <= month <= 9)
    else "fall"
for month in df['month']
    ]

In [17]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,month,season
337491,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,11.6,1,winter
934741,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,11.6,1,winter
227204,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,11.6,1,winter
913722,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,11.6,1,winter
127371,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,11.6,1,winter

## Part 3

In [21]:
# Making a new dataframe that shows the number of times a station has been used

df['value'] = 1 
df_groupby_bar = df.groupby('start_station_name', as_index=False).agg({'value': 'sum'})
top20 = df_groupby_bar.nlargest(20, 'value')

In [23]:
# Making a Bar Chart

fig = go.Figure(go.Bar(x = top20['start_station_name'], y = top20['value'], marker={'color': top20['value'],'colorscale': 'Blues'}))

In [ ]:
fig.update_layout(
    title = 'Top 20 most popular bike stations in New York',
    xaxis_title = 'Start stations',
    yaxis_title ='Sum of trips',
    width = 1500, height = 1000
)

In [27]:
# Save the top 20 stations as a CSV file

top20.to_csv('top20.csv')

## Part 4

In [31]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,month,season,value
337491,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,11.6,1,winter,1
934741,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,11.6,1,winter,1
227204,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,11.6,1,winter,1
913722,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,11.6,1,winter,1
127371,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,11.6,1,winter,1

In [33]:
# Groupby the count of the trips 

df_group = pd.DataFrame(df.groupby(['date'])['ride_id'].count()).reset_index()

In [35]:
# Adding new column

df_group.rename(columns = {'ride_id':'daily_bike_rides'}, inplace = True)
df = df.merge(df_group, on = "date", how = 'outer', indicator = True)
print(df['_merge'].value_counts(dropna = False))
print("Shape of January 1st is", df[df['date'] == '2022-01-01'].shape) # Check 
print("Shape of January 2nd is", df[df['date'] == '2022-01-02'].shape) # Second check

_merge
both          29838166
left_only            0
right_only           0
Name: count, dtype: int64
Shape of January 1st is (20428, 20)
Shape of January 2nd is (43009, 20)

In [37]:
df.drop(columns = {'_merge'}, inplace = True)

In [39]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,month,season,value,daily_bike_rides
0,FB33E3D8F21E2941,electric_bike,2022-01-01 01:49:37.374,2022-01-01 01:57:50.346,Canal St & Rutgers St,5303.08,Norfolk St & Broome St,5374.01,40.714275,-73.989900,40.717227,-73.988021,casual,2022-01-01,11.6,1,winter,1,20428
1,755337295F178067,electric_bike,2022-01-01 03:21:09.754,2022-01-01 03:49:33.047,Lewis Ave & Madison St,4425.02,Columbia St & Degraw St,4422.04,40.686312,-73.935775,40.685930,-74.002424,member,2022-01-01,11.6,1,winter,1,20428
2,C62CA87E3A475ADD,classic_bike,2022-01-01 08:38:18.156,2022-01-01 08:47:54.213,Carlton Ave & Park Ave,4732.04,Emerson Pl & Myrtle Ave,4683.02,40.695807,-73.973556,40.693631,-73.962236,casual,2022-01-01,11.6,1,winter,1,20428
3,CD7A2098AFCD5514,classic_bike,2022-01-01 10:33:58.529,2022-01-01 10:47:05.197,W 100 St & Broadway,7580.01,W 67 St & Broadway,7116.04,40.797372,-73.970412,40.774925,-73.982666,casual,2022-01-01,11.6,1,winter,1,20428
4,3F9E0C51F49F78A3,electric_bike,2022-01-01 20:05:19.592,2022-01-01 20:12:00.661,W 18 St & 6 Ave,6064.08,W 42 St & 6 Ave,6517.08,40.739713,-73.994564,40.754920,-73.984550,member,2022-01-01,11.6,1,winter,1,20428

In [41]:
# Making a subset only with the columns necessary for the line chart

df_lc = df[['date', 'avgTemp', 'daily_bike_rides']]

In [43]:
df_lc = (df_lc.drop_duplicates()).reset_index()

In [45]:
df_lc.drop(columns = {'index'}, inplace = True)

In [47]:
df_lc.head()

        date  avgTemp  daily_bike_rides
0 2022-01-01     11.6             20428
1 2022-01-02     11.4             43009
2 2022-01-03      1.4             33189
3 2022-01-04     -2.7             36842
4 2022-01-05      3.2             34230

In [49]:
df_lc.shape

(365, 3)

In [51]:
# Making a Line chart

fig = make_subplots(specs = [[{"secondary_y": True}]])

In [ ]:
fig.add_trace(
go.Scatter(x = df_lc['date'], y = df_lc['daily_bike_rides'], name = 'Daily bike rides',
marker = {'color' : df_lc['daily_bike_rides'], 'color' : 'blue'}),
secondary_y = False
)

fig.add_trace(
go.Scatter(x=df_lc['date'], y = df_lc['avgTemp'], name = 'Daily temperature',
marker = {'color' : df_lc['avgTemp'], 'color' : 'red'}),
secondary_y=True
)

In [55]:
# Save the dual-axis line chart data as a CSV file

df_lc.to_csv('dual-axis.csv')